<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456743148205-10c5rpduced3lh4te8460svt1h26qbnv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456743148205-10c5rpduced3lh4te8460svt1h26qbnv</string>
	<key>API_KEY</key>
	<string>AIzaSyDI2OCPvwC2RzyHFMu7ggdOCa5Jxcqwa7U</string>
	<key>GCM_SENDER_ID</key>
	<string>456743148205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CoronaCare.CoronaCare</string>
	<key>PROJECT_ID</key>
	<string>coronacarelogin</string>
	<key>STORAGE_BUCKET</key>
	<string>coronacarelogin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456743148205:ios:9ee6cef63755670950c424</string>
	<key>DATABASE_URL</key>
	<string>https://coronacarelogin.firebaseio.com</string>
</dict>
</plist>